In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("../files/survey_results_public.csv")

In [4]:
df.columns

Index(['Respondent', 'MainBranch', 'Hobbyist', 'Age', 'Age1stCode', 'CompFreq',
       'CompTotal', 'ConvertedComp', 'Country', 'CurrencyDesc',
       'CurrencySymbol', 'DatabaseDesireNextYear', 'DatabaseWorkedWith',
       'DevType', 'EdLevel', 'Employment', 'Ethnicity', 'Gender', 'JobFactors',
       'JobSat', 'JobSeek', 'LanguageDesireNextYear', 'LanguageWorkedWith',
       'MiscTechDesireNextYear', 'MiscTechWorkedWith',
       'NEWCollabToolsDesireNextYear', 'NEWCollabToolsWorkedWith', 'NEWDevOps',
       'NEWDevOpsImpt', 'NEWEdImpt', 'NEWJobHunt', 'NEWJobHuntResearch',
       'NEWLearn', 'NEWOffTopic', 'NEWOnboardGood', 'NEWOtherComms',
       'NEWOvertime', 'NEWPurchaseResearch', 'NEWPurpleLink', 'NEWSOSites',
       'NEWStuck', 'OpSys', 'OrgSize', 'PlatformDesireNextYear',
       'PlatformWorkedWith', 'PurchaseWhat', 'Sexuality', 'SOAccount',
       'SOComm', 'SOPartFreq', 'SOVisitFreq', 'SurveyEase', 'SurveyLength',
       'Trans', 'UndergradMajor', 'WebframeDesireNextYear',
       'WebframeWorkedWith', 'WelcomeChange', 'WorkWeekHrs', 'YearsCode',
       'YearsCodePro'],
      dtype='object')

In [5]:
df["Country"]

0                   Germany
1            United Kingdom
2        Russian Federation
3                   Albania
4             United States
                ...
64456         United States
64457               Morocco
64458              Viet Nam
64459                Poland
64460                 Spain
Name: Country, Length: 64461, dtype: object

In [6]:
df["Age"].value_counts()

Age
25.0    2693
28.0    2412
30.0    2406
26.0    2391
27.0    2338
        ...
88.0       1
16.5       1
23.4       1
95.0       1
14.5       1
Name: count, Length: 110, dtype: int64

In [7]:
# label based indexing: cimke alapú
# 0 a DataFrame indexének az értékére utal, nem pedig a sor pozícióra
df.loc[0]

Respondent                                                  1
MainBranch                     I am a developer by profession
Hobbyist                                                  Yes
Age                                                       NaN
Age1stCode                                                 13
                                       ...
WebframeWorkedWith                       ASP.NET;ASP.NET Core
WelcomeChange         Just as welcome now as I felt last year
WorkWeekHrs                                              50.0
YearsCode                                                  36
YearsCodePro                                               27
Name: 0, Length: 61, dtype: object

In [8]:
df.loc[0, "Country"]

'Germany'

In [9]:
df.loc[[0, 10, 100], "Country"]

0             Germany
10     United Kingdom
100    United Kingdom
Name: Country, dtype: object

In [10]:
df.loc[12:18, "Country"]

12       Netherlands
13     United States
14            France
15    United Kingdom
16     United States
17     United States
18     United States
Name: Country, dtype: object

In [11]:
df.loc[12:18, ["Country", "Age", "YearsCodePro"]]

           Country   Age YearsCodePro
12     Netherlands  53.0           20
13   United States  27.0            1
14          France   NaN          NaN
15  United Kingdom  45.0           23
16   United States  25.0            3
17   United States  32.0           12
18   United States  24.0            3

In [12]:
df.loc[12:18, "Country":"YearsCodePro"]

,Country,CurrencyDesc,CurrencySymbol,DatabaseDesireNextYear,DatabaseWorkedWith,DevType,EdLevel,Employment,Ethnicity,Gender,...,SurveyEase,SurveyLength,Trans,UndergradMajor,WebframeDesireNextYear,WebframeWorkedWith,WelcomeChange,WorkWeekHrs,YearsCode,YearsCodePro
12,Netherlands,European Euro,EUR,NaN,NaN,"Designer;Developer, back-end","Secondary school (e.g. American high school, G...",Employed full-time,White or of European descent,Man,...,Neither easy nor difficult,Too long,No,NaN,NaN,NaN,A lot less welcome now than last year,36.0,35,20
13,United States,United States dollar,USD,Firebase;Microsoft SQL Server,Firebase;Microsoft SQL Server,"Developer, desktop or enterprise applications;...","Associate degree (A.A., A.S., etc.)",Employed full-time,White or of European descent,Man,...,Neither easy nor difficult,Appropriate in length,No,"Computer science, computer engineering, or sof...",Angular;Vue.js,Angular;Vue.js,Just as welcome now as I felt last year,40.0,5,1
14,France,NaN,NaN,NaN,MySQL;Oracle,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",Student,NaN,Man,...,Easy,Appropriate in length,No,"Computer science, computer engineering, or sof...",NaN,NaN,Just as welcome now as I felt last year,NaN,4,NaN
15,United Kingdom,Pound sterling,GBP,NaN,PostgreSQL,"Database administrator;Developer, back-end;Dev...","Bachelor’s degree (B.A., B.S., B.Eng., etc.)","Independent contractor, freelancer, or self-em...",White or of European descent,Man,...,Easy,Appropriate in length,No,"Computer science, computer engineering, or sof...",NaN,jQuery;React.js,Just as welcome now as I felt last year,50.0,37,23
16,United States,United States dollar,USD,Cassandra;Elasticsearch;MariaDB;PostgreSQL;Redis,Microsoft SQL Server;PostgreSQL,"Developer, full-stack","Bachelor’s degree (B.A., B.S., B.Eng., etc.)",Employed full-time,White or of European descent,Man,...,Easy,Appropriate in length,No,"Computer science, computer engineering, or sof...",ASP.NET Core;Gatsby;React.js;Vue.js,ASP.NET;Gatsby;jQuery;React.js;Vue.js,Just as welcome now as I felt last year,40.0,7,3
17,United States,United States dollar,USD,Elasticsearch;PostgreSQL;Redis;SQLite,Elasticsearch;MariaDB;MySQL;Redis;SQLite,"Developer, back-end","Bachelor’s degree (B.A., B.S., B.Eng., etc.)",Employed full-time,White or of European descent,Man,...,Neither easy nor difficult,Appropriate in length,No,"Computer science, computer engineering, or sof...",NaN,NaN,Just as welcome now as I felt last year,45.0,19,12
18,United States,United States dollar,USD,MariaDB;MongoDB,MariaDB;Microsoft SQL Server,"Developer, full-stack","Bachelor’s degree (B.A., B.S., B.Eng., etc.)",Employed full-time,White or of European descent,Man,...,Easy,Appropriate in length,No,"Computer science, computer engineering, or sof...",Django;Express;React.js,Angular;Angular.js;ASP.NET Core,Just as welcome now as I felt last year,35.0,9,3

In [15]:
# position based indexing (faster)
# integer based
# A 0 a Dataframe 1. sorának pozíciójára utal, függetlenül az index értéktől
df.iloc[0:10, 5:10]

  CompFreq  CompTotal  ConvertedComp             Country          CurrencyDesc
0  Monthly        NaN            NaN             Germany         European Euro
1      NaN        NaN            NaN      United Kingdom        Pound sterling
2      NaN        NaN            NaN  Russian Federation                   NaN
3      NaN        NaN            NaN             Albania          Albanian lek
4      NaN        NaN            NaN       United States                   NaN
5      NaN        NaN            NaN             Germany         European Euro
6  Monthly        NaN            NaN               India  United States dollar
7   Yearly   116000.0       116000.0       United States  United States dollar
8      NaN        NaN            NaN             Tunisia  United States dollar
9   Yearly    25000.0        32315.0      United Kingdom        Pound sterling

In [ ]:
# Boolean indexelés, feltéel alapján
df["YearsCodePro"] = pd.to_numeric(df["YearsCodePro"], errors="coerce")
df[df["YearsCodePro"] > 10]

,Respondent,MainBranch,Hobbyist,Age,Age1stCode,CompFreq,CompTotal,ConvertedComp,Country,CurrencyDesc,...,SurveyEase,SurveyLength,Trans,UndergradMajor,WebframeDesireNextYear,WebframeWorkedWith,WelcomeChange,WorkWeekHrs,YearsCode,YearsCodePro
0,1,I am a developer by profession,Yes,NaN,13,Monthly,NaN,NaN,Germany,European Euro,...,Neither easy nor difficult,Appropriate in length,No,"Computer science, computer engineering, or sof...",ASP.NET Core,ASP.NET;ASP.NET Core,Just as welcome now as I felt last year,50.0,36,27.0
7,8,I am a developer by profession,Yes,36.0,12,Yearly,116000.0,116000.0,United States,United States dollar,...,Easy,Appropriate in length,No,"Computer science, computer engineering, or sof...",Django;React.js;Vue.js,Flask,Just as welcome now as I felt last year,39.0,17,13.0
12,13,"I am not primarily a developer, but I write co...",Yes,53.0,14,Monthly,3000.0,38916.0,Netherlands,European Euro,...,Neither easy nor difficult,Too long,No,NaN,NaN,NaN,A lot less welcome now than last year,36.0,35,20.0
15,16,I am a developer by profession,Yes,45.0,8,Monthly,7000.0,108576.0,United Kingdom,Pound sterling,...,Easy,Appropriate in length,No,"Computer science, computer engineering, or sof...",NaN,jQuery;React.js,Just as welcome now as I felt last year,50.0,37,23.0
17,18,I am a developer by profession,Yes,32.0,12,Monthly,105000.0,1260000.0,United States,United States dollar,...,Neither easy nor difficult,Appropriate in length,No,"Computer science, computer engineering, or sof...",NaN,NaN,Just as welcome now as I felt last year,45.0,19,12.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
64376,51773,NaN,Yes,NaN,18,NaN,NaN,NaN,Bangladesh,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,18,18.0
64392,55074,NaN,Yes,36.0,35,NaN,NaN,NaN,Bangladesh,NaN,...,Easy,Appropriate in length,NaN,NaN,Angular;Angular.js;ASP.NET;ASP.NET Core;Django...,Angular;Angular.js;ASP.NET;ASP.NET Core;Django...,A lot less welcome now than last year,NaN,Less than 1 year,12.0
64407,57084,NaN,Yes,NaN,18,NaN,NaN,NaN,Sweden,NaN,...,NaN,NaN,NaN,"A social science (such as anthropology, psycho...",Django;jQuery,Django;jQuery,Just as welcome now as I felt last year,NaN,12,15.0
64415,58819,NaN,Yes,NaN,11,NaN,NaN,NaN,Myanmar,NaN,...,Easy,Too short,NaN,NaN,NaN,ASP.NET,NaN,NaN,5,29.0
64427,60149,NaN,Yes,34.0,18,NaN,NaN,NaN,Brazil,NaN,...,Easy,Appropriate in length,No,"Computer science, computer engineering, or sof...",Django;Flask,Django,Just as welcome now as I felt last year,NaN,16,14.0

In [22]:
# query - SQL like
df.query('YearsCodePro > 5 and WebframeWorkedWith.str.contains("React", na=False)')

,Respondent,MainBranch,Hobbyist,Age,Age1stCode,CompFreq,CompTotal,ConvertedComp,Country,CurrencyDesc,...,SurveyEase,SurveyLength,Trans,UndergradMajor,WebframeDesireNextYear,WebframeWorkedWith,WelcomeChange,WorkWeekHrs,YearsCode,YearsCodePro
15,16,I am a developer by profession,Yes,45.0,8,Monthly,7000.0,108576.0,United Kingdom,Pound sterling,...,Easy,Appropriate in length,No,"Computer science, computer engineering, or sof...",NaN,jQuery;React.js,Just as welcome now as I felt last year,50.0,37,23.0
25,26,I am a developer by profession,No,NaN,12,Yearly,94000.0,71093.0,Canada,Canadian dollar,...,Easy,Too long,No,"Computer science, computer engineering, or sof...",NaN,Django;React.js,Just as welcome now as I felt last year,40.0,17,10.0
32,33,I am a developer by profession,Yes,39.0,14,Monthly,4900.0,63564.0,Belgium,European Euro,...,Neither easy nor difficult,Appropriate in length,No,"Computer science, computer engineering, or sof...",Express;Gatsby;React.js;Ruby on Rails,Angular;Angular.js;Django;Express;React.js,Just as welcome now as I felt last year,40.0,20,14.0
37,38,I am a developer by profession,No,35.0,14,Yearly,90000.0,97288.0,Italy,European Euro,...,Easy,Appropriate in length,No,"Computer science, computer engineering, or sof...",Express;Gatsby;React.js,Express;Gatsby;React.js,Just as welcome now as I felt last year,40.0,20,12.0
41,42,I am a developer by profession,No,32.0,14,Yearly,130000.0,130000.0,United States,United States dollar,...,Easy,Appropriate in length,No,"Computer science, computer engineering, or sof...",ASP.NET Core;Spring,ASP.NET;Flask;React.js;Spring,Somewhat less welcome now than last year,37.0,16,10.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
64053,65523,I am a developer by profession,Yes,NaN,18,Monthly,450000.0,75396.0,India,Indian rupee,...,NaN,NaN,NaN,"Another engineering discipline (such as civil,...",React.js,React.js,Just as welcome now as I felt last year,NaN,25,18.0
64096,65567,I am a developer by profession,Yes,NaN,12,NaN,NaN,NaN,United States,United States dollar,...,NaN,NaN,NaN,"Computer science, computer engineering, or sof...",ASP.NET Core;Express;Vue.js,ASP.NET;React.js;Vue.js,NaN,43.0,28,20.0
64152,65629,I am a developer by profession,Yes,41.0,15,Yearly,200.0,200.0,United States,United States dollar,...,NaN,NaN,No,"Computer science, computer engineering, or sof...",React.js,React.js,Just as welcome now as I felt last year,NaN,25,20.0
64230,18748,NaN,Yes,NaN,30,NaN,NaN,NaN,Iran,NaN,...,Easy,Too short,Yes,Web development or web design,Angular;Angular.js;ASP.NET;ASP.NET Core;Django...,Angular;Angular.js;ASP.NET;ASP.NET Core;Django...,A lot less welcome now than last year,NaN,30,30.0
64392,55074,NaN,Yes,36.0,35,NaN,NaN,NaN,Bangladesh,NaN,...,Easy,Appropriate in length,NaN,NaN,Angular;Angular.js;ASP.NET;ASP.NET Core;Django...,Angular;Angular.js;ASP.NET;ASP.NET Core;Django...,A lot less welcome now than last year,NaN,Less than 1 year,12.0

In [23]:
# grouping
country_groups = df.groupby('Country')
country_groups.get_group('Hungary')

,Respondent,MainBranch,Hobbyist,Age,Age1stCode,CompFreq,CompTotal,ConvertedComp,Country,CurrencyDesc,...,SurveyEase,SurveyLength,Trans,UndergradMajor,WebframeDesireNextYear,WebframeWorkedWith,WelcomeChange,WorkWeekHrs,YearsCode,YearsCodePro
169,171,I am a developer by profession,Yes,31.0,12,Monthly,770000.0,29628.0,Hungary,Hungarian forint,...,Easy,Appropriate in length,No,"Computer science, computer engineering, or sof...",Angular;ASP.NET;ASP.NET Core;React.js;Vue.js,Angular;ASP.NET;ASP.NET Core;jQuery,Just as welcome now as I felt last year,40.0,19,8.0
314,316,I am a student who is learning to code,Yes,17.0,14,NaN,NaN,NaN,Hungary,NaN,...,Easy,Appropriate in length,No,NaN,NaN,NaN,Just as welcome now as I felt last year,NaN,3,NaN
366,368,I code primarily as a hobby,Yes,NaN,9,NaN,NaN,NaN,Hungary,NaN,...,Easy,Appropriate in length,NaN,NaN,NaN,NaN,Somewhat more welcome now than last year,NaN,7,NaN
414,416,I am a developer by profession,Yes,31.0,16,NaN,NaN,NaN,Hungary,United States dollar,...,Easy,Appropriate in length,No,"Computer science, computer engineering, or sof...",Express;React.js;Ruby on Rails;Vue.js,Angular;Angular.js;ASP.NET;Express;jQuery;Reac...,NaN,NaN,14,8.0
620,622,I am a developer by profession,Yes,27.0,13,Monthly,1000000.0,38484.0,Hungary,Hungarian forint,...,Neither easy nor difficult,Appropriate in length,No,"Computer science, computer engineering, or sof...",NaN,Laravel,Just as welcome now as I felt last year,40.0,11,6.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
63622,65047,I am a developer by profession,Yes,NaN,NaN,NaN,NaN,NaN,Hungary,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
64016,65480,I am a developer by profession,Yes,NaN,12,Monthly,400000.0,15396.0,Hungary,Hungarian forint,...,NaN,NaN,NaN,"Computer science, computer engineering, or sof...",NaN,NaN,NaN,70.0,16,12.0
64125,65600,I am a developer by profession,No,NaN,6,Monthly,1000000.0,38484.0,Hungary,Hungarian forint,...,NaN,NaN,NaN,"A humanities discipline (such as literature, h...",NaN,NaN,NaN,20.0,30,12.0
64199,11739,NaN,Yes,35.0,30,NaN,NaN,NaN,Hungary,NaN,...,Easy,Appropriate in length,No,"Another engineering discipline (such as civil,...",Angular.js;Django;React.js,NaN,Just as welcome now as I felt last year,NaN,3,NaN
64266,28425,NaN,Yes,NaN,NaN,NaN,NaN,NaN,Hungary,NaN,...,Neither easy nor difficult,Too long,No,I never declared a major,NaN,NaN,NaN,NaN,NaN,NaN